<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Title of the PDF</title>
	</head>
	<body>
		<h1>FACTURE</h1>
		<div>
			<h2>{{ user.firstname | capitalize }}
				{{ user.lastname | capitalize }}</h2>
		</div>
		<table>
			<thead>
				<tr>
					<th style="text-align: left;">Titre</th>
					<th style="text-align: left;">Quantité</th>
					<th style="text-align: center;">Prix</th>
					<th style="text-align: left;">Prix Total</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 0 %}
				{% set totalPrice = 0 %}
				{% set totalPriceU = 0 %}
				{% set totalAmount = 0 %}
				{% for title, amount in countGames %}
					<tr>
						<td style="text-align: left;">{{ title }}</td>
						<td style="text-align: center;">{{ amount }}</td>
						<td style="text-align: left;">{{ priceGames[i] }}$</td>
						<td style="text-align: center;">{{ priceGames[i] * amount }}$</td>
					</tr>
					{% set totalPriceU = totalPriceU + priceGames[i] %}
					{% set totalPrice = totalPrice + (priceGames[i] * amount) %}
					{% set totalAmount = totalAmount + amount %}
					{% set i = i + 1 %}
				{% endfor %}
				<tr style="margin-top: 2em;">
					<td style="font-weight: bold;">Total</td>
					<td style="text-align: center;">{{totalAmount}}</td>
					<td style="text-align: left;">{{totalPriceU}}$</td>
					<td style="text-align: center;">{{totalPrice}}$</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
