{% extends 'base.html.twig' %}

{% block title %}
	Game
	{% if game is not null %}
		-
		{{game.title}}
	{% else %}
		not found
	{% endif %}
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('/css/games.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container">
		{% if game is not null %}
			<div class="card game-container-show col-12 p-0 shadow">
				<img src="" id="dynamicImg{{ game.id }}" class="rounded col-lg-4 p-0 card-img-top game-container-image">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<h3>
							{{game.title}}
						</h3>
						<h6 class="text-muted">

							{% if globalNote == 0%}
								No note for the moment
							{% else %}
								Note:
								{{globalNote}}
							{% endif %}
						</h6>
					</div>
					<h4 class="card-subtitle mb-2 text-muted">
						{{game.publishers == null ? "Unknown" : game.publishers}}
						-
						{{game.releaseYear}}
					</h4>
					<div class="card-text">
						{% if game.console == "Nintendo DS" %}
							<img class="game-logo" src="{{asset('images/nintendo-ds.svg')}}">
						{% elseif game.console == "Sony PSP" %}
							<img class="game-logo" src="{{asset('images/psp.svg')}}">
						{% elseif game.console == "PlayStation 3" %}
							<img class="game-logo" src="{{asset('images/ps3.svg')}}">
						{% elseif game.console == "Nintendo Wii" %}
							<img class="game-logo" src="{{asset('images/wii.svg')}}">
						{% elseif game.console == "X360" %}
							<img class="mb-2" style="width: 78px;" src="{{asset('images/xbox.svg')}}">
						{% endif %}
					</div>
					<p class="card-text">{{game.description}}</p>
					{% set genres = game.genres | split(',') %}
					{% for genre in genres  %}
						<div class="badge badge-primary text-wrap" style="width: fit-content;">
							{{ genre }}
						</div>
					{% endfor %}
					<h6 class="card-subtitle my-2 text-muted">
						Price:
						{{game.price}}$
					</h6>
					<button class="btn btn-secondary position-absolute" style="bottom: 10px; right: 10px;">Buy</button>
				</div>
			</div>
			<div class="card my-4 shadow">
				<h5 class="card-header">Leave a Comment:</h5>
				<div class="card-body">
					{% if canComment %}
						<div class="form-group">
							{{ form_start(commentForm) }}
							{{ form_label(searchform.title, 'Title', {
								'label_attr' : {
									'class' : 'my-2'
								}
							}) 
						}}
							{{ form_widget(commentForm.title, {
								'attr': {
									'class' : 'form-control',
									'placeholder' : 'Title'
								}
							}) 
						}}
							{{ form_label(commentForm.content, 'Message',{
								'label_attr' : {
									'class' : 'my-2'
								}
							}) 
						}}
							{{ form_widget(commentForm.content, {
								'attr': {
									'class' : 'form-control',
									'placeholder' : 'Comment'
								}
							}) 
						}}
							{{ form_label(commentForm.note, 'Note' ,{
								'label_attr' : {
									'class' : 'my-2'
								}
							}) 
						}}
							{{ form_widget(commentForm.note, {
								'attr': {
									'class' : 'form-control',
								}
							}) 
						}}
							{{ form_widget(commentForm.send, {
								'attr' : {
									'class' : 'btn btn-secondary w-100 mt-4'
								}
							}) 
						}}
							{{ form_end(commentForm) }}
						</div>
					{% elseif canComment == false %}
						<p class="card-text mb-1">
							If you want to post a comment you need to buy the game on our platform.
						</p>
					{% elseif user is not defined or user is null %}
						<p class="card-text mb-1">
							If you want to post a comment you need to be connected. You don't have an account ?
							<a href="{{path('register')}}">Create one now.</a>
						</p>
						<p class="card-text mt-0">If you already have one, connect by
							<a href="{{path('login')}}">clicking here.</a>
						</p>
					{% endif %}
				</div>
			</div>
			{% if comments | length > 0 %}
				<div class="card my-4 shadow">
					<ul class="list-group list-group-flush">
						{% for c in comments %}
							<div class="p-3 border-bottom">
								<div class="d-flex justify-content-between">
									<h5>
										Title:
										{{c.title}}
									</h5>
									<h6 class="text-muted">Writed by:
										{{c.idUser.firstname}}
										{{c.idUser.lastname}}</h6>
								</div>
								<p class="card-text mb-1">{{c.content}}</p>
								<p class="card-text">Note:
									{{c.note}}</p>
							</div>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% else %}
			<div id="notfound">
				<div class="notfound">
					<div class="notfound-404">
						<h1>404</h1>
					</div>
					<h2>Oops, it looks like the page you are looking for doesn't exist!</h2>
					<a href="{{path('index')}}">
						<span class="arrow"></span>Home</a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('/js/scripts.js')}}"></script>
	{% if game is not null %}
		<script>
			loadImage("{{ game.title }}","{{ game.id }}");
		</script>
	{% endif %}
{% endblock %}
