{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('/css/games.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container">
		{% if games | length != 0 %}
			{# Games #}
			<div class="row">
				{% for g in games %}
					<div class="col-sm-3 mb-5">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">{{g.title}}</h5>
								<h6 class="card-subtitle mb-2 text-muted">{{g.publishers == null ? "Unknown" : g.publishers}}
									-
									{{g.releaseYear}}</h6>
								<img class="card-img game-image" id="dynamicImg{{ g.idGame }}" src="" onerror="this.src='{{asset('/images/default.jpg')}}'"/>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								{% set genres = g.genres | split(',') %}
								{% for genre in genres  %}
									<div class="badge badge-primary text-wrap" style="width: fit-content;">
										{{ genre }}
									</div>
								{% endfor %}
							</div>
							<a href="#" class="btn btn-secondary btn-buy">Acheter le jeu</a>
						</div>
					</div>
				{% endfor %}
			</div>
			{# Pagination #}
			<div class="d-flex justify-content-center">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						{% if (page - 2) >= 1 %}
							<li class="page-item">
								<a class="page-link" href="{{ path('index', {'page': page - 2 }) }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						{% endif %}
						{% if page == 1 %}
							<li class="page-item active">
								<a class="page-link" href="{{ path('index', {'page': 1 }) }}">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="{{ path('index', {'page': 2 }) }}">2</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="{{ path('index', {'page': 3 }) }}">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="{{ path('index', {'page': 4 }) }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						{% elseif page > 1 %}
							<li class="page-item">
								<a class="page-link" href="{{ path('index', {'page': page - 1 }) }}">{{page - 1}}</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="{{ path('index', {'page': page }) }}">{{page}}</a>
							</li>
							{% if pagesLen[0] != 0 %}
								<li class="page-item">
									<a class="page-link" href="{{ path('index', {'page': page + 1 }) }}">{{page + 1}}</a>
								</li>
							{% endif %}
							{% if pagesLen[1] != 0 %}
								<li class="page-item">
									<a class="page-link" href="{{ path('index', {'page': page + 2 }) }}" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							{% endif %}
						{% endif %}
					</ul>
				</nav>
			</div>
		{% else %}
			<div id="notfound">
				<div class="notfound">
					<div class="notfound-404">
						<h1>404</h1>
					</div>
					<h2>Oops, Il s'emblerait que la page que vous cherchez n'éxiste pas!</h2>
					<a href="{{path('index')}}">
						<span class="arrow"></span>Accueil</a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('/js/scripts.js')}}"></script>
	<script>
		{% for g in games %}
loadImage("{{ g.title }}","{{ g.idGame }}");{% endfor %}
	</script>
{% endblock %}
