{% extends "base.html.twig" %}

{% block title %}
	Type:
	{{type}}
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('/css/games.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container">
		{% if games | length != 0 %}
			{# Games #}
			<div class="row">
				{% for g in games %}
					<div class="col-md-3 mb-5">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">{{g.title}}</h5>
								<h6 class="card-subtitle mb-2 text-muted position-relative">
									{{g.publishers == null ? "Unknown" : g.publishers}}
									-
									{{g.releaseYear}}
								</h6>
								<div class="card-text">
									{% if g.console == "Nintendo DS" %}
										<img class="game-logo" src="{{asset('images/nintendo-ds.svg')}}">
									{% elseif g.console == "Sony PSP" %}
										<img class="game-logo" src="{{asset('images/psp.svg')}}">
									{% elseif g.console == "PlayStation 3" %}
										<img class="game-logo" src="{{asset('images/ps3.svg')}}">
									{% elseif g.console == "Nintendo Wii" %}
										<img class="game-logo" src="{{asset('images/wii.svg')}}">
									{% elseif g.console == "X360" %}
										<img class="mb-2" style="width: 78px;" src="{{asset('images/xbox.svg')}}">
									{% endif %}
								</div>
								<img class="card-img game-image" id="dynamicImg{{ g.id }}" src="" onerror="this.src='{{asset('/images/default.jpg')}}'"/>
								<p class="card-text">{{g.description}}.</p>
								{% set genres = g.genres | split(',') %}
								{% for genre in genres  %}
									{% if genre == "Racing / Driving" %}
										<a href="{{path('type', {'type': 'Racing'})}}" class="badge badge-primary">{{ genre }}</a>
                                    {% else %}
										<a href="{{path('type', {'type': genre})}}" class="badge badge-primary">{{ genre }}</a>
									{% endif %}
								{% endfor %}
							</div>
							<a href="{{path('game', {'id' : g.id})}}" class="btn btn-secondary btn-buy">Learn more</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div id="notfound">
				<div class="notfound">
					<div class="notfound-404">
						<h1>404</h1>
					</div>
					<h2>Oops, it looks like the page you are looking for doesn't exist!</h2>
					<a href="{{path('index')}}">
						<span class="arrow"></span>Home</a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('/js/scripts.js')}}"></script>
	<script>
		{% for g in games %}
loadImage("{{ g.title }}","{{ g.id }}");{% endfor %}
	</script>
{% endblock %}
