{% extends 'base.html.twig' %}
{% block title %}
	Profile
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="container">
		<div class="card shadow">
			<div class="card-header">
				Informations
			</div>
			<div class="card-body">
				{{ form_start(userForm) }}
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Firstname</label>
						<span class="form-control" readonly>{{user.firstname}}</span>
					</div>
					<div class="form-group col-md-6">
						<label>Lastname</label>
						<span class="form-control" readonly>{{user.lastname}}</span>
					</div>
				</div>
				<div class="form_group">
					{{ form_row(userForm.email,
					{'attr': {
						'class': 'form-control mb-3',
						'placeholder' : 'Email'
					}
					})}}
				</div>
				<div class="form_group">
					{{ form_row(userForm.password.first,
					{'attr': {
						'class': 'form-control mb-3',
						'placeholder' : 'Password'
					}
					})}}
				</div>
				<div class="form_group">
					{{ form_row(userForm.password.second,{
						'attr': {
							'class': 'form-control mb-3',
							'placeholder' : 'Confirm password'
						}
					})}}
				</div>
				<div class="form_group">
					<label>Birthday</label>
					<div class="d-flex justify-content-sm-between">
						<span class="form-control mr-1  mb-3" readonly>{{user.birthday | date('d')}}</span>
						<span class="form-control mr-1  mb-3" readonly>{{user.birthday | date('m')}}</span>
						<span class="form-control mr-1  mb-3" readonly>{{user.birthday | date('Y')}}</span>
					</div>
				</div>
				{{ form_widget(userForm.register,
					{'attr': {
						'class': 'btn btn-secondary w-100',
					},
					'label': 'Update'
				})}}
				{{ form_end(userForm) }}
			</div>
		</div>
		<div class="card my-5 shadow">
			<div class="card-header">
				Game bought
			</div>
			{% if games | length < 1 %}
				<div class="card-body">
					<p class="card-text">
						You haven't buy any games for the moment
					</p>
				</div>
			{% else %}
				<table class="table mb-0 table-striped">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Price</th>
							<th scope="col">Activation code</th>
							<th scope="col">Activate ?</th>
							<th scope="col">Purchase date</th>
						</tr>
					</thead>
					<tbody>
						{% for g in games %}
							<tr>
								<td scope="row">
									<a href="{{path('game', {'id' : g.idGame.id })}}">{{g.idGame.title}}</a>
								</td>
								<td>{{g.price}}$</td>
								<td>{{g.code}}</td>
								<td>{{g.used == 1 ? "yes" : "no"}}
								</td>
								<td>{{g.purchaseDate | date('m/d/Y')}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
{% endblock %}
